header {
    margin-top: 6%;
}

img.logo {
    width: 19rem;
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
}

input.searchBar {
    width: 100%;
    border: 1px solid #c3c3c3;
    padding: .3rem .4rem;
    border-radius: .2rem;
    outline-color: #3498db;
}