* {
    user-select: none;
}
body {
    overflow: hidden;
    height: 100%;
}

li {
    list-style: none;
}

input,
.url {
    outline: 0;
}

.no-drag {
    -webkit-app-region: no-drag!important;
}

.navbar {
    background: #f5f5f5;
    cursor: default;
}

.topbar {
    display: flex;
    -webkit-app-region: drag;
    background: #c3c3c3;
}

.topbar .tabs {
    -webkit-app-region: drag;
    flex: 1 1 0;
    display: flex;
    margin: 0;
    padding: .6rem 0 0 .6rem;
    overflow: auto;
}

.topbar .tabs li {
    -webkit-app-region: no-drag;
    display: flex;
    flex: 1 1 0;
    min-width: 5rem;
    max-width: 12rem;
    background: #c3c3c3;
    border: 1px solid transparent;
    border-right: 1px solid #aaa;
    border-radius: 0;
    position: relative;
    overflow: hidden;
    border-top-right-radius: .5rem;
    border-top-left-radius: .5rem;
    transition: all .1s;
    cursor: pointer;
}

li.nav-item:not(.active):hover {
    background: #e8e8e8;
}

.topbar .tabs li:before,
.topbar .tabs li:after {
    position: absolute;
    bottom: -1px;
    width: 6px;
    height: 6px;
    content: " ";
}

.topbar .tabs li:before {
    left: -6px;
    border-bottom-right-radius: 6px;
    border-width: 0 1px 1px 0;
}

.topbar .tabs li:after {
    right: -6px;
    border-bottom-left-radius: 6px;
    border-width: 0 0 1px 1px;
}

.topbar .tabs li.active {
    background: #f5f5f5;
    border-color: #ddd #ddd #f5f5f5;
    z-index: 5;
    cursor: default;
}

.topbar .tabs li.active:before {
    box-shadow: 2px 2px 0 #f5f5f5;
}

.topbar .tabs li.active:after {
    box-shadow: -2px 2px 0 #f5f5f5;
}

.topbar .tabs li.before, .topbar .tabs li.after {
    border: 1px solid transparent;
}

.topbar .tabs li.after {
    border-right: 1px solid #aaa;
}

.topbar .tabs li:last-of-type {
    border: 1px solid transparent;
}

.topbar .tabs li a.nav-link.audioPlaying {
    border-width: .8rem 4rem .5rem 1rem;
}

.topbar .tabs li span {
    display: none;
}

.topbar .tabs li.loading span {
    display: inline-block;
    margin: .8rem 0 .5rem 1rem;
    font-size: 1.4rem;
    color: #666;
    animation: spin 1.2s linear infinite;
}

.topbar .tabs li .favicon {
    height: 1.4rem;
    width: 1.4rem;
    margin: .8rem 0 .5rem 1rem;
    display: block;
}

.topbar .tabs li.loading .favicon {
   display: none;
}

.topbar .tabs li .nav-link {
    text-overflow: clip;
    white-space: nowrap;
    border: 1px solid transparent;
    border-width: .8rem 1rem .5rem;
    overflow: hidden;
}

.topbar .tabs li.active .nav-link,
.topbar .tabs li:hover .nav-link {
    border-width: .8rem 2.5rem .5rem 1rem;
}

.topbar .tabs li.active a.tab-close,
li.nav-item:not(.active):hover a.tab-close {
    display: block;
}

.topbar .tabs li a.tab-close,
.topbar .tabs li a.audio {
    display: none;
    border: 1px solid transparent;
    border-radius: 50%;
    height: 1.4rem;
    width: 1.4rem;
    padding: 0;
    color: #666;
    position: absolute;
    right: 1rem;
    top: .8rem;
    transition: .1s ease-in-out;
    cursor: pointer;
}

.topbar .tabs li a.audio {
    right: 2.5rem;
    color: #000;
}

.topbar .tabs li a.audio i {
    height: 1.4rem;
    width: 1.4rem;
    left: .25rem;
    bottom: -.25rem;
    position: absolute;
}

.topbar .tabs li a.tab-close:hover {
    background: #e25c4b;
}

.topbar .tabs li a.tab-close i,
.topbar.tabs li a.audio i {
    height: 1.4rem;
    width: 1.4rem;
    left: .25rem;
    bottom: -.25rem;
    position: absolute;
}

.topbar .tabs li a.tab-close:hover i {
    color: #fff;
}

.topbar .tabs .new-tab {
    -webkit-app-region: no-drag;
    padding: .8rem 1rem .5rem;
    color: #333;
    cursor: pointer;
}

.topbar .win-controls {
    display: flex;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    width: 140px;
    height: 29px;
}

.win-controls > .button {
    position: absolute;
    cursor: default;
    pointer-events: all;
    -webkit-app-region: no-drag;
    transition: all .1s;
}

.win-controls > .button img {
    position: absolute;
    cursor: default;
    -webkit-app-region: no-drag;
}

.win-controls.win32 > .button {
    top: 0px;
    width: 45px;
    height: 29px;
}

.win-controls.win32 > .button:hover {
    background: #cecece;
}

.win-controls.win32 > .button-close {
    right: 0px;
}

.win-controls.win32 > .button-close:hover {
    background: #e81123;
}

.win-controls.win32 > .button-close:active {
    background: rgba(232, 17, 35, 0.6);
}

.win-controls.win32 > .button-minimize {
    right: 90px;
}

.win-controls.win32 > .button-maximize {
    right: 45px;
}

.win-controls.win32 > .button img {
    margin-top: 8.5px;
    margin-left: 16.5px;
    transition: all .1s;
}

.win-controls.win32 > .button-close:hover img {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

/*.topbar .win-controls li {
    -webkit-app-region: no-drag;
    padding: 0 .2rem;
    color: #333;
    cursor: pointer;
}*/

/*.topbar .win-controls.win32 li {
    width: 45px;
    height: 29px;
    margin: 0 45px;
}*/

/*.topbar .win-controls.win32 li img {
    margin-top: 8.5px;
    margin-left: 16.5px;
}*/

/*.topbar .win-controls .win-max.disabled {
    display: none;
}

.topbar .win-controls .win-unmax {
    display: none;
}

.topbar .win-controls .win-unmax.active {
    display: flex;
}*/

.bottombar {
    display: flex;
    padding: .4rem .6rem;
    border-bottom: 1px solid #c3c3c3;
}

.bottombar .navigation {
    flex: 1 1 0;
    display: flex;
}

.btns {
    flex: 0 1 0;
    display: flex;
    margin-right: 0;
}

.btn.back,
.btn.forward {
    flex: 1 1 0;
    color: #333;
    border: 1px solid #c3c3c3;
    background: #f5f5f5;
    cursor: pointer;
}

.btn.back:hover,
.btn.forward:hover {
    background: #e8e8e8;
}

.btn.back {
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    position: absolute;
    margin-top: -.15rem;
}

.btn.back::before {
    content: "/f060";
}

.btn.back:disabled {
    background: #f5f5f5;
    color: #b1b1b1;
    cursor: default;
}

.btn.forward {
    display: none;
    width: 3rem;
    text-align: right;
    height: 1.7rem;
    margin: 0 0 0 .7rem;
}

.btn.forward.active {
    display: block;
}

.bottombar .navigation .searchbar {
    position: relative;
}

.bottombar .navigation input.secure {
    height: 1.7rem;
    background: #fff;
    border: 1px solid #c3c3c3;
    border-color: #c3c3c3 #c3c3c3 #c3c3c3 transparent;
    margin-left: 0;
    padding: .2rem .5rem;
    padding-left: .2rem;
    cursor: pointer;
}

.bottombar .navigation div.awesomplete {
    display: flex;
    flex: 1 1 0;
}

.awesomplete {
    display: block;
}

.awesomplete.hebrew {
    text-align: right;
    direction: rtl;
}

.awesomplete ul {
    top: 1.7rem;
    margin: 0;
    border-radius: 0px 0px 8px 8px;
    border-top: 0;
    padding: .2rem .3rem;
    transition: all .3s;
    max-height: 21.45rem;
    overflow: hidden;
}

.awesomplete ul::before {
    content: none;
}

.awesomplete ul li {
    border-radius: .2rem;
    margin: .2rem;
    transition: all .1s;
}

.awesomplete ul li:hover,
.awesomplete ul li[aria-selected="true"] {
    background: #3c9cdc;
    color: #fff;
}

.bottombar .navigation .url {
    flex: 1 1 0;
    height: 1.7rem;
    margin: 0;
    border: 1px solid #c3c3c3;
    border-color: #c3c3c3 #c3c3c3 #c3c3c3 #f5f5f5;
    padding: 0 .3rem;
    background: #fff;
    white-space: nowrap;
    overflow: hidden;
    width: 1rem;
    cursor: text;
}

.bottombar .navigation .url * {
    white-space: nowrap;
    display: inline;
}

.bottombar .navigation .url .protocol,
.bottombar .navigation .url .backslash,
.bottombar .navigation .url .subdomain,
.bottombar .navigation .url .port,
.bottombar .navigation .url .path,
.bottombar .navigation .url .query {
    color: #949494;
}

.bottombar .navigation .url.typing .protocol,
.bottombar .navigation .url.typing .backslash,
.bottombar .navigation .url.typing .subdomain,
.bottombar .navigation .url.typing .port,
.bottombar .navigation .url.typing .path,
.bottombar .navigation .url.typing .query {
    color: #000;
}

.bottombar .navigation .url.secure .protocol {
    color: #249654;
}

.bottombar .navigation .url.secure.typing .protocol {
    color: #000;
}

/*.bottombar .navigation .url.mybrowser .protocol {
    color: #3495db;
}*/

/*.bottombar .navigation .info {
    height: 1.2rem;
    color: #666;
    background: #fff;
    border: 1px solid #c3c3c3;
    margin-left: 0;
    position: absolute;
    left: 2.4rem;
    width: 1.2rem;
    border-radius: 50%;
    margin: .2rem;
    font-size: .8rem;
    padding: .2rem 0 .2rem .1rem;
}*/

.bottombar .navigation .info {
    height: 1.7rem;
    color: #666;
    background: #fff;
    border: 1px solid #c3c3c3;
    border-color: #c3c3c3 transparent #c3c3c3 transparent;
    margin-left: 0;
    left: 2.4rem;
    width: 2rem;
    margin: 0;
    padding: .2rem 0 .2rem .1rem;
    margin-left: 1.5rem;
    padding-left: .5rem;
    padding-right: .2rem;
    cursor: pointer;
}

/*.bottombar .navigation .info.forwardActive {
    left: 4.1rem;
    margin: .3rem;
    padding: .2rem 0;
}*/

.bottombar .navigation .info.forwardActive {
    left: 4.1rem;
    padding: .2rem 0;
    width: 1.7rem;
    margin: 0;
}

.bottombar .navigation input.mybrowser {
    display: none;
    height: 1.7rem;
    background: #fff;
    border: 1px solid #c3c3c3;
    border-color: #c3c3c3 #c3c3c3 #c3c3c3 transparent;
    font-size: .9rem;
    color: #3495db;
    padding: .2rem 0 .2rem .1rem;
    margin-left: 1.5rem;
    padding-left: .8rem;
    padding-right: .2rem;
    cursor: pointer;
}

.bottombar .navigation input.mybrowser.forwardActive { 
    margin-left: 0;
    padding-left: .4rem;
}

.bottombar .navigation .refresh {
    left: 13.2rem;
    height: 1.7rem;
    width: 2rem;
    color: #666;
    background: #fff;
    border: 1px solid #c3c3c3;
    border-color: #c3c3c3 #c3c3c3 #c3c3c3 #f5f5f5;
    padding: .2rem .5rem;
    margin-left: 0;
    cursor: pointer;
}

.bottombar .links {
    flex: 0 1 0;
    display: flex;
    margin: 0;
    padding: 0 1rem;
}

.bottombar .links ul {
    padding-left: 0;
    white-space: nowrap;
    display: inline;
}

.bottombar .links li {
    padding-left: 1.5rem;
    white-space: nowrap;
    display: inline;
} 

.bottombar .links>li:first-child {
    padding-left: 0;
}

.bottombar .links .link a {
    line-height: 1.8rem;
    cursor: pointer;
}

.bottombar .links .link a img {
    height: 1.4rem;
}

.bottombar .links .fa {
    vertical-align: middle;
    color: #666;
}

.bottombar .links .link.popup {
    position: relative;
    display: inline-block;
}

.bottombar .links div.popup {
    visibility: hidden;
    width: 15rem; 
    background-color: #fff;
    color: #000;
    text-align: center;
    /* padding: 1rem; */
    /* border-radius: 6px; */
    position: absolute;
    z-index: 1;
    top: 135%;
    left: -327%;
    margin-left: -60px;
    opacity: 0;
    transition: all .3s;
    box-shadow: 0px 8px 16px 0 rgba(0,0,0,0.2), 1px 2px 20px 0 rgba(0,0,0,0.19);
}

.bottombar .links div.popup.active {
    visibility: visible;
    opacity: 1;
}

.bottombar .links div.popup::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 86%;
    margin-left: 1px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}

.bottombar .links div.mybrowser.popup {
    left: -262%;
}

.bottombar .links div.download-manager.hasItems {
    width: auto;
    left: -583%;
}

.bottombar .links div.popup p.no-downloads,
.bottombar .links div.download-manager .download-item {
    padding: 1rem;
    margin: 0;
    font-size: .8rem;
}

.bottombar .links div.download-manager .download-item {
    padding-right: 1.2rem;
}

.bottombar .links div.download-manager .download-item .item {
    display: inline-block;
}

.bottombar .links div.download-manager .download-item .open-containing-folder {
    display: inline-block;
    font-size: 1.4rem;
    vertical-align: middle;
    padding: 0 0 0 1rem;
    border-left: 1px solid #aaa;
    margin-left: 2rem;
}

.bottombar .links div.download-manager .download-item .icon {
    width: 2.5rem;
    display: inline-block;
}

.bottombar .links div.download-manager .download-item .details {
    text-align: left;
    height: 2.5rem;
    display: inline-block;
    margin-left: .7rem;
    vertical-align: middle;
}

.bottombar .links div.download-manager .download-item .details .name {
    margin: 0;
}

.bottombar .links div.download-manager .download-item .details .info small {
    margin-right: .2rem;
    font-size: .7rem;
    color: #aaa;
}

.bottombar .links div.download-manager .download-item .details .info small::after {
    content: ' —';
}

.bottombar .links div.download-manager .download-item .details .info small:last-child {
    margin-right: 0;
}

.bottombar .links div.download-manager .download-item .details .info small:last-child::after {
    content: '';
}

.bottombar .links div.popup button.big.btn { 
    width: 100%;
    height: 100%;
    background: #e3e3e3;
    border: 0;
    padding: .7rem;
    font-size: .9rem;
    cursor: pointer;
}

.search {
    width: 25rem;
    display: flex;
    position: absolute;
    z-index: 13;
    background: #f5f5f5;
    padding: .5rem 1rem;
    border: 1px solid #c3c3c3;
}

.search input.searchbox {
    border: 1px solid #c3c3c3;
    padding: .3rem .2rem;
    flex: 1 1 0;
    width: 1rem;
    display: flex;
    font-size: .9rem;
}

.search span.matches {
    margin-left: .5rem;
    white-space: nowrap;
    display: block;
    box-sizing: initial;
    height: 1.2rem;
    padding: .3rem .2rem;
}

.search input.btn:first-child { 
    margin-left: .5rem;
}

.search input.btn {
    flex: 0 1 0;
    font-size: .9rem;
    background: none;
    border: 0;
}

.pages {
    position: relative;
    height: calc(100vh - 6rem);
}

.pages .page {
    display: none;
    height: 100%;
    width: 100%;
    outline: none;
    position: absolute;
}

.pages .page.active {
    display: flex;
}

.pages webview.error {
    display: none;
}

.linkHint {
    bottom: 0;
    position: absolute;
    z-index: 13;
    background: #f5f5f5;
    padding: .3rem .5rem;
    border: 1px solid #c3c3c3;
    margin: 0;
    font-size: .8rem;
    white-space: nowrap;
    max-width: 30rem;
    text-overflow: ellipsis;
    overflow: hidden;
}

@keyframes spin {
    100% {
         -webkit-transform: rotate(360deg); 
         transform: rotate(360deg); 
    } 
}