.topbar {
    background: #dedede;
}

.topbar .tabs {
    z-index: 1000000000;
}

.topbar .tabs li {
    border-top-right-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
    margin-left: -1.8rem;
    height: 2.5rem;
    margin-top: .35rem;
    z-index: 5;
    border: 1px solid #9e9e9e;
    border-bottom: 0;
    padding-left: 1.8rem;
}

.topbar .tabs li .nav-link.audioPlaying {
    border-width: .8rem 4.5rem .5rem 1rem;
}

.topbar .tabs li:hover {
    z-index: 4;
}

.topbar .tabs li.nav-item:not(.active):hover {
    background: #e8e8e8;
}

.topbar .tabs li:hover .nav-link {
    border-width: .6rem 2.5rem .5rem 1rem;
}

.topbar .tabs li:hover .nav-link {
    text-overflow: clip;
}

.topbar .tabs li.before,
.topbar .tabs li.active,
.topbar .tabs li.after {
    border: 1px solid #9e9e9e;
    border-bottom: 0;
}

.topbar .tabs li.before {
    padding-left: .8rem;
}

.topbar .tabs li.before:hover {
    z-index: 2;
}

.topbar .tabs li.before:hover .nav-link {
    border-width: .6rem 3.5rem .5rem 1rem;
}

.topbar .tabs li.before .nav-link {
    border-width: .6rem 2rem .5rem 1rem;
}

.topbar .tabs li.before:hover .nav-link.audioPlaying {
    border-width: .6rem 5rem .5rem 1rem;
}

.topbar .tabs li.before a.audio {
    right: 3.5rem;
}

.topbar .tabs li.before a.tab-close {
    right: 2rem;
}

.topbar .tabs li.active {
    z-index: 5!important;
    height: 2.87rem;
    margin-top: 0;
    padding: 0;
}

.topbar .tabs li:first-child {
    padding-left: 1.5rem;
}

.topbar .tabs li.active .favicon {
    margin: .8rem 0 .5rem .4rem;
}

.topbar .tabs li.active a.audio,
.topbar .tabs li.active a.tab-close {
    top: .8rem;
}

.topbar .tabs li.active:hover .nav-link {
    border-width: .8rem 2.5rem .5rem 1rem;
}

.topbar .tabs li.active .nav-link.audioPlaying {
    border-width: .8rem 4rem .5rem 1rem;
}

.topbar .tabs li.after {
    padding-left: 1.8rem;
}

.topbar .tabs li .favicon {
    margin: .6rem 0 .5rem .4rem;
}

.topbar .tabs li .nav-link {
    text-overflow: ellipsis;
    border-width: .6rem 1rem .5rem;
}

.topbar .tabs li a.tab-close, 
.topbar .tabs li a.audio {
    top: .6rem;
}

.topbar .tabs a.new-tab {
    padding: 1rem 1rem .3rem;
}